:root {
--primary-color: #37a665;
--secondary-color: #f9e6f0;
}
.banner {
    max-width: 100%;
}
body {
    font-family: sans-serif;
    text-align: center;
    background-color: var(--secondary-color);
}
.books {
        display: flex;
        justify-content: space-evenly;
        margin: 0 20px;
}
.paragraphs {
    display: flex;
        justify-content: space-evenly;
        margin: 0 20px;
        font-family: 'Arimo', sans-serif;
}

.links {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

p {
    margin: 15px 30px;
}
.bg-teal {
    background-color: darkturquoise;
}
h1 {
    margin-top: 50px;
}
.thumbnail {
    max-width: 150px;  
}
.container {
    margin: 0 25px;
}
.navbar {
    font-family: 'Arimo', sans-serif;
}
.navbar-nav {
color: var(--primary-color) !important;
--bs-nav-link-color: var(--primary-color);
    --bs-nav-link-hover-color: var(--primary-color);
}
.navbar-brand {
    color: var(--primary-color) !important;
   }
.dropdown-menu {
    --bs-dropdown-bg: var(--secondary-color);
    --bs-dropdown-link-color: var(--primary-color);
}