:root {
--primary-color: #37a665;
--secondary-color: #f9e6f0;
--font-color: #3d582f;

}
.banner {
    max-width: 100%;
}
.buttons {
    font-family: 'Amatic SC', cursive;
    margin: 0 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 2px 20px;
    border-radius: 4px;
    font-size: 25px;
}
.buttons:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: ease-in-out 0s;
}
body {
    font-family: sans-serif;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--font-color);
}
.books {
        display: flex;
        justify-content: space-evenly;
        margin: 0 20px;
}
.paragraphs {
    display: flex;
        justify-content: space-evenly;
        margin: 0 20px;
        font-family: 'Arimo', sans-serif;
}

.links {
    font-family: 'Amatic SC', cursive;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 20px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

p {
    margin: 15px 30px;
    text-align: left;
}
h1 {
    margin: 50px 25px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 96px;
}
img {
    border-radius: 4px;
}
.thumbnail {
    max-width: 150px;  
}
.container {
    margin: 0px 25px;
}
.navbar {
    font-family: 'Arimo', sans-serif;
}
.navbar-nav {
color: var(--primary-color) !important;
--bs-nav-link-color: var(--primary-color);
    --bs-nav-link-hover-color: var(--primary-color);
}
.navbar-brand {
    color: var(--primary-color) !important;
   }
   .navbar-collapse {
    background-color: var(--secondary-color);
   }
.half-page {
    max-width: 350px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .col-md-6 {
        margin-top: 30px !important;
    }
    h1 {
        margin-bottom: 25px;
    }
}